$background: #171725;

$text-primary: #d1d4dc;
$text-secondary: #787b86;

$border-color: #434651;

$red-color: #e2444d;
$red-color-100: #411b29;
$green-color: #6ec877;
$green-color-100: #1a2d27;
$toggle-feed-color: #5741d8;
