@import "../../style/colors.scss";
.order-book {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 100%;
  .list-container {
    display: flex;
    height: 100%;
    &.disconnected {
      opacity: 0.5;
    }
  }

  @media (max-width: 500px) {
    .list-container {
      flex-direction: column-reverse;
    }
  }
}
